language: c
compiler:
    - gcc
env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "C/fEi7szrUH0WcV//X52T3BY6Cuyhqosd7cioOo3WNEMiXQRM5QLOzxpGDuyMi2z21eBbZqSCvFcUTvEp/frHxM0qIFfBeWs1vsF3app09Y3D99QYQudb6x/c0a5uDgRp8ftYUUhF6xf4Y4ns9Bh2iwaEEtOZDH5z9WSpO9KzPf7QuI6lTqb4bTSC3dGiwbGLxL8RsthKccl5Ti9z4bAW2VdnUD3wgxpZWZ9qrX72/SrfG4KwqK70HLm1Y/ds5KvpWV8AVJzMpYqIfx2WqkQuvnfC377VBieyA4iCFkoq1hue5i7Vq8AZ7yNXOzhur+v9Rm/8zuNRz7gTPDQscy1YHdmE+UGK5hYDUu420PkG708KjnnnT5LlCUa+KtX2Wi3/B37kHGiUUH5cPOnZ6UAjaOk4c7CWZt3CIZjF3FN0GnMKDUc69UU7TYEN3JOauPbFe8iBLnnNlGd6Yysa1Voh3NSg7VKF8DZIgSuahOxi7NTqPrVtoMzC0v/HzfMmOH9OvWv8IR/55YqurdeFsNJ8p3a2yU8Uz1pnn5cPoXHXb88bS2gvnivigDxSU/9C852U8gd1qpIfb6+YMuD4G9i/FmypUas89PjfImn/rYv9sk7RBjvdi8Idz5jLxvYMgLUq4Yd1MlhBXOAfB8LsK2f78gQYNBvuVwQ93k4K3tVJHU="

addons:
  coverity_scan:
    project:
      name: "Comcast/wrp-c"
      description: " C implementation of the WebPA Routing Protocol"
    notification_email: weston_schmidt@alumni.purdue.edu
    build_command_prepend: "mkdir coverity_build && cd coverity_build && cmake .."
    build_command:   "make"
    branch_pattern: coverity_scan

before_install:
    - sudo pip install codecov

install:
    - sudo apt-get update -qq
    - sudo apt-get install -y -qq libcunit1 libcunit1-dev lcov

script:
    - mkdir build
    - cd build
    - cmake ..
    - make
    - make test
    - make coverage

after_success:
    - codecov
